<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Courses</title>

	<!-- font Awesome CDN link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	<!-- External CSS -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/about.css">

	<!-- JQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
	<!-- Navigation start -->
	<nav>
		<img src="/css/img/skyline.png" class="logo" alt="">

		<div class="navigation">
			<ul>
				<i id="menu-close" class="fas fa-times"></i>
				<li><a href="/skylineedu">Home</a></li>
				<li><a href="/courses" class="active">Courses</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>

			<img src="/css/img/menu.png" id="menu-btn" alt="">
		</div>
	</nav>
	<!-- Navigation ends -->


	<!-- Hero section starts from here -->
	<section id="about-home">
		<h2>
			Courses
		</h2>
	</section>
	<!-- Hero section ends from here -->

		<!-- Courses section starts from here -->
	<section id="course">
		<h1>Our Popular Courses</h1>
		<p>Replenish man have thing gathering lights yielding shall you</p>

		<div class="course-box">
			<div onclick="window.location.href='course-inner.html'" class="courses">
				<img src="/css/img/c1.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c2.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c3.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c4.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c5.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c6.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c3.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c4.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c5.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>

			<div class="courses">
				<img src="/css/img/c6.jpg" alt="">
				<div class="details">
					<span>Updated 21/8/22</span>
					<h6>JavaScript Beginners Course</h6>

					<div class="star">
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>
						<i class="fa-solid fa-star"></i>

						<span>(239)</span>
					</div>
				</div>
				<div class="cost">$49.99</div>
			</div>
		</div>
	</section>
	<!-- Courses section ends from here -->

	<!-- Footer section starts from here -->
	<footer>
        <div class="footer-col">
            <h3>SKYLINE EDUCATION</h3>
            <li>Dakshin para, Rishra, Hooghly</li>
            <li>Phone : </li>
        </div>
        <div class="footer-col">
            <h3>SKYLINE EDUCATION</h3>
            <li>Criper Road, Konnagar Hooghly</li>
            <li>Phone : </li>
          </div>
        </footer>
	<!-- Footer section ends from here -->

	<script>
		// Show menu links on burger click
		$('#menu-btn').click(function(){
			$('nav .navigation ul').addClass('active')
		});

		// Hide navbar on click function
		$('#menu-close').click(function(){
			$('nav .navigation ul').removeClass('active')
		});
	</script>
</body>
</html>