<footer>
    <div class="footer-col">
        <h3>SKYLINE EDUCATION</h3>
        <li>Dakshin para, Rishra, Hooghly</li>
        <li>Phone : </li>
    </div>
    <div class="footer-col">
        <h3>SKYLINE EDUCATION</h3>
        <li>Criper Road, Konnagar Hooghly</li>
        <li>Phone : </li>
      </div>
    </footer>